:root{
    --bg-primary : #FFFFFF;
    --bg-secondary: #F4F5F8;
    --text-primary: black;
    --text-secondary: #9C9C9D;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-secondary);
    height: 100vh;
}